<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/core")
    @Styles.Render("~/Content/index")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="nav" class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button style="border-radius: 0px;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="~/Content/images/logo3.png" width="35" height="35">
                </a>
                <h4 style="color:white;">ООО "Системная инженерия"</h4>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="ul" class="nav navbar-nav navbar-right mainheader">
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Проекты", "projects", "home")</li>
                    <li>@Html.ActionLink("Статьи", "articles", "home")</li>
                    <li>@Html.ActionLink("Автоматизация", "automation", "home")</li>
                    <li>@Html.ActionLink("Водоочистка", "waterclean", "home")</li>
                    <li>@Html.ActionLink("Контакты", "contacts", "home")</li>
                </ul>

            </div>
        </div>
    </nav>

    @RenderBody()

    <footer>
        <div class="col-md-12 body">
            <div class="col-md-1"></div>

            <div class="col-md-3 block bloackbl">
                <h2>Системы водоочистки</h2>
                <p>Создание эффективных систем водоснабжения предприятий и населённых пунктов</p>
            </div>

            <div class="col-md-3 block">
                <h2>Контакты</h2>
                <p><span class="glyphicon glyphicon-earphone"></span> +375 44 465 86 10</p>
                <p><span class="glyphicon glyphicon-earphone"></span> +375 44 465 73 14</p>
                <p><span class="glyphicon glyphicon-envelope"></span> p.burik@pinsk.1ak.by</p>
                <p><span class="glyphicon glyphicon-home"></span> Республика Беларусь, г. Пинск, ул. Брестская д. 72</p>
            </div>

            <div class="col-md-3 block bloackbl">
                <h2>Автоматизация</h2>
                <p>Разработка программного обеспечения для управления промышленными комплексами и системами</p>
            </div>
            <div class="col-md-1"></div>

            <div class="container">
                <ul id="ul" class="nav navbar-nav  footul">
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Проекты", "projects", "home")</li>
                    <li>@Html.ActionLink("Статьи", "articles", "home")</li>
                    <li>@Html.ActionLink("Автоматизация", "automation", "home")</li>
                    <li>@Html.ActionLink("Водоочистка", "waterclean", "home")</li>
                    <li>@Html.ActionLink("Контакты", "contacts", "home")</li>
                </ul>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mail")
</body>
</html>
