
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>System Engeniring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/core")
    @Styles.Render("~/Content/automation")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav id="nav" class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button style="border-radius: 0px;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/images/logo3.png" width="35" height="35">
                </a>
                <h4 style="color:white;">ООО "Системная инженерия"</h4>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="ul" class="nav navbar-nav navbar-right mainheader">
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Проекты", "projects", "home")</li>
                    <li>@Html.ActionLink("Статьи", "articles", "home")</li>
                    <li>@Html.ActionLink("Автоматизация", "automation", "home")</li>
                    <li>@Html.ActionLink("Водоочистка", "waterclean", "home")</li>
                    <li>@Html.ActionLink("Контакты", "contacts", "home")</li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="parallax head-window">
        <h2>Автоматизация</h2>
    </div>

    <section class="grid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">
                        ИНЖИНИРИНГОВЫЕ РЕШЕНИЯ В ОБЛАСТИ АВТОМАТИЗАЦИИ ПРОИЗВОДСТВ
                    </h1>
                </div>
            </div>
            <!--  -->

    </section>


    <section class="clients">


        </div>
        <div class="col-md-12 body">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="sol">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img">
                                <img src="~/Content/images/comp.jpg" width="100%" alt="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row sol_text">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <h1>Программное обеспечение для управления предприятиями</h1>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-1 pointer">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        Разработка программного обеспечения для управления промышленными комплексами обеспечивая корректную работу с существующим программным технологиям, например, «1С: Предприятием»;
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sol">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img">
                                <img src="~/Content/images/dirty-industry-stack-factory.jpg" width="100%" alt="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row sol_text">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <h1>SCADA-системы управления производством</h1>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-1 pointer">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                <div class="col-md-8">
                                    <p>Разработка промышленных SCADA-систем управления технологическими процессами любой сложности и функциональности;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sol">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img">
                                <img src="~/Content/images/technology-computer-metal-industry-163150.jpg" width="100%" alt="">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="row sol_text">
                                <div class="col-md-4"></div>
                                <div class="col-md-8">
                                    <h1>Микропроцессорные системы под индивидуальные требования</h1>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-1 pointer">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </div>
                                <div class="col-md-8">
                                    <p>
                                        Разработка микропроцессорных систем на базе контроллеров AtMega с адаптацией под индивидуальные требования заказчиков. Минимизация стоимости автоматизации проектов
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- text after solutions-->
                <div class="row text_after_sol">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h1 class="title">ПРОЕКТНЫЕ РЕШЕНИЯ</h1>
                                <p>
                                    Проектируем системы автоматизации под заказчика, включая расчёт технологических процессов и помощь заказчику в выборе технологического оборудования
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <h1 class="title">ОБУЧЕНИЕ ПЕРСОНАЛА</h1>
                                <p>
                                    Обучение персонала предприятий по овладению современными средствами автоматизации и управления; включая программирование и обслуживание программируемых логических контроллеров (ПЛК), настройка и эксплуатация исполнительных механизмов и датчиков
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="img">
                            <img src="~/Content/images/pexels-photo (5).jpg" width="100%" alt="">
                        </div>
                    </div>
                </div>
                <!-- text after solutions end-->
                <!-- software-->
                <div class="software">
                    <div class="row">
                        <div class="col-md-7">
                            <h1>Программное обеспечение для управления предприятиями</h1>
                            <p>
                                С учётом высокой стоимости готовых комплексных систем на основе методологий MRP и ERP под заказ можем разработать отдельные сегменты для эффективного управления предприятиями
                            </p>
                            <ul>
                                <li>
                                    Налоговый учет
                                </li>
                                <li>
                                    Управление документооборотом компании
                                </li>
                                <li>
                                    Построение корпоративных моделей компании
                                </li>
                                <li>
                                    Складской учет (управление складом, закупками, продажами, автоматическое составление заказов)
                                </li>
                                <li>
                                    Учет заработной платы
                                </li>
                                <li>
                                    Создание полного логистического и финансового цикла предприятия
                                </li>
                                <li>
                                    Организация учета, анализа и планирования на основе многомерной аналитики
                                </li>
                                <li>
                                    Кассовые и банковские операции, в том числе средство интеграции с системами Клиент-Банк
                                </li>
                                <li>
                                    Планирование и управление производством (решение типовых производственных задач, ориентация на решение полного цикла производственных и логистических задач на всех этапах функционирования производственного процесса)
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <div class="img">
                                <img src="~/Content/images/man-people-space-desk.jpg" width="100%" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- software end-->
                <div class="systems">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1>SCADA-системы управления производством и технологическими процессами</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="img">
                                <img src="~/Content/images/pexels-photo-110469.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-md-5 systems_text">
                            <p>
                                Микроконтроллерная система управления, на основе ПЛК «ICP CON», предназначена для измерения и регулирования технологических параметров. Система разработана в пакете «Trace Mode» для автономного и/или комплексного использования в АСУ ТП (автоматизированных системах управления технологическими процессами).
                            </p>
                            <br>
                            <p>
                                Базовыми предприятиями, где используются системы, являются пищевая промышленность и агропромышленный комплекс – «Комбинат Тепличный» (г. Киев), «Птицефабрика им. Фрунзе» (г. Саки), «Владимир-Волынская птицефабрика»
                            </p>
                        </div>
                    </div>
                </div>
                <div class="systems">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <h1>Микропроцессорные системы управления под индивидуальные требования заказчика</h1>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="img">
                                <img src="~/Content/images/pexels-photo-57007.jpg" width="100%" alt="">
                            </div>
                        </div>
                        <div class="col-md-5 systems_text">
                            <p>
                                Микропроцессорная система управления реализуется на основе модуля «COTA», который осуществляет: измерение технологических параметров; управление преобразователем частоты; управление двигателями и заслонками. Микропроцессорный блок работает под управлением современного микроконтроллера RISC архитектуры из семейства «AtMega».
                            </p>
                            <br>
                            <p>
                                Блок производится мелкосерийными партиями – эксплуатируется на десятках предприятий Республики Беларусь, Российской Федерации, Республики Польши, Украины, Узбекистана, Казахстана.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>

        </div>

        </div>
        <div class="col-md-1"></div>
        </div>
    </section>

    <section class="feedback">
        <div class="col-md-12 body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Контактная форма</h2>
                <form role="form">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Имя" required />
                        <p class="help-block">Введите Ваше имя</p>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="E-mail" required />
                        <p class="help-block">Введите Ваш электронный адресс</p>
                    </div>
                    <div class="form-group">
                        <label for="comment">Сообщение</label>
                        <textarea id="body" name="comment" class="form-control" placeholder="Сообщение" required></textarea>
                        <p class="help-block">Введите Ваше сообщение. В ближайшее время мы Вам ответим.</p>
                    </div>
                    <div class="form-group">
                        <input type="button" id="send" class="btn btn-info" value="Отправить" />
                    </div>
                    <div id="contact-block">

                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>

        </div>
    </section>



    <footer>
        <div class="col-md-12 body">
            <div class="col-md-1"></div>

            <div class="col-md-3 block bloackbl">
                <h2>Системы водоочистки</h2>
                <p>Проводим системы водочистки и водокачки для подкачки бицухи и грудака</p>
            </div>

            <div class="col-md-3 block">
                <h2>Контакты</h2>
                <h2>Контакты</h2>
                <p><span class="glyphicon glyphicon-earphone"></span> +375 44 465 86 10</p>
                <p><span class="glyphicon glyphicon-earphone"></span> +375 44 465 73 14</p>
                <p><span class="glyphicon glyphicon-envelope"></span> p.burik@pinsk.1ak.by</p>
                <p><span class="glyphicon glyphicon-home"></span> Республика Беларусь, г. Пинск, ул. Брестская д. 72</p>
            </div>

            <div class="col-md-3 block bloackbl">
                <h2>Системы водоочистки</h2>
                <p>Проводим системы водочистки и водокачки для подкачки бицухи и грудака</p>
            </div>
            <div class="col-md-1"></div>

            <div class="container">
                <ul id="ul" class="nav navbar-nav  footul">
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Проекты", "projects", "home")</li>
                    <li>@Html.ActionLink("Статьи", "articles", "home")</li>
                    <li>@Html.ActionLink("Автоматизация", "automation", "home")</li>
                    <li>@Html.ActionLink("Водоочистка", "waterclean", "home")</li>
                    <li>@Html.ActionLink("Контакты", "contacts", "home")</li>
                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mail")


</body>
</html>
