
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>System Engeniring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/core")
    @Styles.Render("~/Content/waterclean")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav id="nav" class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <button style="border-radius: 0px;" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/images/logo3.png" width="35" height="35">
                </a>
                <h4 style="color:white;">ООО "Системная инженерия"</h4>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="ul" class="nav navbar-nav navbar-right mainheader">
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Проекты", "projects", "home")</li>
                    <li>@Html.ActionLink("Статьи", "articles", "home")</li>
                    <li>@Html.ActionLink("Автоматизация", "automation", "home")</li>
                    <li>@Html.ActionLink("Водоочистка", "waterclean", "home")</li>
                    <li>@Html.ActionLink("Контакты", "contacts", "home")</li>
                </ul>

            </div>
        </div>
    </nav>


    <div class="parallax head-window">
        <h2>Водоочистка</h2>
    </div>

    <section class="main">
        <div class="col-md-12 body">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Системы очистки сточных вод</h3>
                <h3></h3>
                <p>
                    Задача создания эффективных долговременного использования систем водоснабжения предприятий и населённых пунктов сложная для технической реализации поскольку необходимо наличие технологических средств, которые гарантировано обеспечивают заданное качество воды независимо от:
                    <ul>
                        <li>Чрезвычайных ситуаций природного и техногенного происхождения</li>
                        <li>Качества воды, которая подаётся на очистку (в том числе при залповых сбросах загрязнителей, при которых, например, гибнут полезные бактерии)</li>
                        <li>Длительных перерывов в работе очисных сооружений</li>
                        <li>Реагентов – поскольку в результате взаимодействия реагентов с водой синтезируются ещё более опасные соединения (необходима их утилизации)</li>
                        <li>Загрязнения фильтрующих элементов и превращения их в «накопители» и «инкубаторы» загрязнения</li>
                    </ul>
                </p>
                <p>Разработчики системы безопасного водоснабжения (СБВ), которые являются системами нового поколения безопасного природопользования и решают задачи качественной водоподготовки при наличии вышеуказанных проблем с лучшей ресурсо- и энергоэффективностью чем аналоги, которые работают только в обычных условиях и только с фиксированными показателями входной воды.</p>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

    <section class="clients">
        <div class="col-md-12 body">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h3>Потенциальные клиенты</h3>
                <br>
                <br>
                <div class="col-md-6">
                    <div class="img">
                        <img src="~/Content/images/smoke.jpg" width="100%" alt="">
                    </div>
                    <br>
                    <br>
                    <div class="img">
                        <img src="~/Content/images/korovki.jpg" width="100%" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <ul>
                        <br>
                        <li>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p>
                                Предприятия пищевой и агропромышленностей: молокозаводы, мясокомбинаты, птицефабрики, свинофермы, животноводческие комплексы, сахарные заводы;
                            </p>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p>
                                Предприятия химической промышленности: нефтеперерабатывающие заводы
                            </p>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-ok"></span>
                            <p> Коммунальные предприятия</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </section>

    <section class="order">
        <div class="col-md-12 body">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <br>
                <h3>Создание систем водоочистки под заказчика</h3>
                <p>Наше ключевое преимущество заключается в занятии промежуточной ниши между производителями (дилерами), которые продают готовые изделия, что достаточно дорого для конечного пользователя, и лабораториями мониторинга качества воды, которые фактически никаких технический решений не предлагают.</p>
                <p>При этом если заказчику необходимо создавать проекты не только под авторское оборудование, а и других разработчиков – такая услуга будет оказываться, как и разработка исключительно рекомендаций относительно повышения эффективности водопользования.</p>
            </div>
            <div class="col-md-1"></div>

        </div>
    </section>
    <section class="order">
        <div class="col-md-12 body">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <br>
                <a  style="font-size: 18px;" target="_blank" href="~/Content/Opisanie_tekhnologii_Vodoochistka.pdf">Описание технологии</a>
            </div>
            <div class="col-md-1"></div>

        </div>
    </section>
    <section class="feedback">
        <div class="col-md-12 body">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Контактная форма</h2>
                <form role="form">
                    <div class="form-group">
                        <label for="name">Имя</label>
                        <input id="name" name="name" type="text" class="form-control" placeholder="Имя" required />
                        <p class="help-block">Введите Ваше имя</p>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input id="email" name="email" type="email" class="form-control" placeholder="E-mail" required />
                        <p class="help-block">Введите Ваш электронный адресс</p>
                    </div>
                    <div class="form-group">
                        <label for="comment">Сообщение</label>
                        <textarea id="body" name="comment" class="form-control" placeholder="Сообщение" required></textarea>
                        <p class="help-block">Введите Ваше сообщение. В ближайшее время мы Вам ответим.</p>
                    </div>
                    <div class="form-group">
                        <input type="button" id="send" class="btn btn-info" value="Отправить" />
                    </div>
                    <div id="contact-block">

                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>

        </div>
    </section>

    <footer>
        <div class="col-md-12 body">
            <div class="col-md-1"></div>

            <div class="col-md-3 block bloackbl">
                <h2>Системы водоочистки</h2>
                <p>Создание эффективных систем водоснабжения предприятий и населённых пунктов</p>
            </div>

            <div class="col-md-3 block">
                <h2>Контакты</h2>
                <p><span class="glyphicon glyphicon-earphone"></span> +375 44 465 86 10</p>
                <p><span class="glyphicon glyphicon-earphone"></span> +375 44 465 73 14</p>
                <p><span class="glyphicon glyphicon-envelope"></span> p.burik@pinsk.1ak.by</p>
                <p><span class="glyphicon glyphicon-home"></span> Республика Беларусь, г. Пинск, ул. Брестская д. 72</p>
            </div>

            <div class="col-md-3 block bloackbl">
                <h2>Автоматизация</h2>
                <p>Разработка программного обеспечения для управления промышленными комплексами и системами</p>
            </div>
            <div class="col-md-1"></div>


            <div class="container">
                <ul id="ul" class="nav navbar-nav  footul">
                    <li>@Html.ActionLink("Главная", "index", "home")</li>
                    <li>@Html.ActionLink("Проекты", "projects", "home")</li>
                    <li>@Html.ActionLink("Статьи", "articles", "home")</li>
                    <li>@Html.ActionLink("Автоматизация", "automation", "home")</li>
                    <li>@Html.ActionLink("Водоочистка", "waterclean", "home")</li>
                    <li>@Html.ActionLink("Контакты", "contacts", "home")</li>
                </ul>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mail")


</body>
</html>

